# SPDX-License-Identifier: GPL-2.0
# OPLUS Memleak Detect Drivers

source "drivers/soc/oplus/performance/memleak_detect/svelte/Kconfig"
source "drivers/soc/oplus/performance/memleak_detect/oppo_svelte/Kconfig"
