# SPDX-License-Identifier: GPL-2.0
# OPLUS Healthinfo Drivers

source "drivers/soc/oplus/performance/healthinfo/mm/Kconfig"
source "drivers/soc/oplus/performance/healthinfo/blk/Kconfig"
source "drivers/soc/oplus/performance/healthinfo/main/Kconfig"
source "drivers/soc/oplus/performance/healthinfo/ion/Kconfig"
