# SPDX-License-Identifier: GPL-2.0
# OPLUS Security Drivers

menu "OPLUS Security"

config OPLUS_SECURE_GUARD
	bool "OPLUS Secure Guard Support"
	default y
	help
	  Enable OPLUS kernel security monitoring and root guard support.

if OPLUS_SECURE_GUARD

source "drivers/soc/oplus/secureguard/keventupload/Kconfig"
source "drivers/soc/oplus/secureguard/rootguard/Kconfig"

endif

endmenu
