# SPDX-License-Identifier: GPL-2.0
# OPLUS Kevent Upload

config OPLUS_KEVENT_UPLOAD
	bool "OPLUS Kevent Upload Support"
	depends on OPLUS_SECURE_GUARD
	default y
	help
	  Enable OPLUS kernel event upload support for secure guard.
