# SPDX-License-Identifier: GPL-2.0
# OPLUS Performance Optimization Drivers

menu "OPLUS Performance Optimization"

source "drivers/soc/oplus/performance/cpufreq_bouncing/Kconfig"
source "drivers/soc/oplus/performance/foreground_io_opt/Kconfig"
source "drivers/soc/oplus/performance/input_boost/Kconfig"
source "drivers/soc/oplus/performance/iomonitor/Kconfig"
source "drivers/soc/oplus/performance/lowmem_dbg/Kconfig"
source "drivers/soc/oplus/performance/memory_isolate/Kconfig"
source "drivers/soc/oplus/performance/multi_kswapd/Kconfig"
source "drivers/soc/oplus/performance/special_opt/Kconfig"
source "drivers/soc/oplus/performance/tpd/Kconfig"
source "drivers/soc/oplus/performance/tpp/Kconfig"
source "drivers/soc/oplus/performance/uifirst/Kconfig"
source "drivers/soc/oplus/performance/zwb_handle/Kconfig"
source "drivers/soc/oplus/performance/healthinfo/Kconfig"
source "drivers/soc/oplus/performance/im/Kconfig"
source "drivers/soc/oplus/performance/memleak_detect/Kconfig"
source "drivers/soc/oplus/performance/oplus_mm/Kconfig"
source "drivers/soc/oplus/performance/oplus_nandswap/Kconfig"

# Optional modules
source "drivers/soc/oplus/performance/gloom/Kconfig"
source "drivers/soc/oplus/performance/gloom_new/Kconfig"
source "drivers/soc/oplus/performance/ion_boost_pool/Kconfig"
source "drivers/soc/oplus/performance/multi_freearea/Kconfig"
source "drivers/soc/oplus/performance/vm_anti_fragment/Kconfig"

endmenu
